.sysSec1 {
    position: relative;
    margin-top: 140px !important;
}

.sysSec2{
    position: relative;
    margin-top: 0 !important;

}

.sysText1{
    padding-top: 100px;
    padding-bottom: 140px !important;
    padding-left: 115px !important;

}

.bgsGray {
    position: absolute;
    z-index: -10;
    background: rgb(245, 245, 245);
    margin-top: 140px;
    padding-top: 100px;
    height: 100%
}
.bgsGray2 {
    position: absolute;
    z-index: -10;
    background: rgb(245, 245, 245);
    margin-top: 140px;
    padding-top: 100px;
    height: 110%;
    right: 0;
}

.sysImg1 {
    padding-top: 100px;
}
.sysImg2 {
    padding-top: 0;
}


.sysText2 {
    padding-top: 100px;
    padding-bottom: 140px !important;
    padding-left: 115px !important;

}


.sysTextTitle {

    color: #CD9B4C;
    font-family: PlusJakarta-Regular;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    /* 142.857% */
    letter-spacing: 3.4px;
    text-transform: uppercase;

}

.sysTextHeader {
    color: #30373E;
    font-family: PlusJakarta-Regular;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -1px;
    margin-bottom: 33px;
}

.sysTextDescription {
    color: #535353;
    font-family: PlusJakarta-Regular;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.8px;
    margin-bottom: 30px;

}

.sysText2 {
    padding-inline-start: 120px !important;
}

.sysText2 .desc {
    color: #535353;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
    /* 133.333% */
    text-transform: uppercase;
}

.sysText2 .num {
    color: #C7A167;
    font-family: PlusJakarta-Bold;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 42px;
    /* 140% */
}

@media screen and (max-width: 579px) {
    .sysTextHeader {
        font-size: 28px !important;

    }


}

@media screen and (min-width: 1540px) {
    .sysText1{
      padding-left: 315px !important;
      padding-right: 100px !important;
    }
    .sysText2 {
        padding-left: 115px !important;
        padding-right: 200px !important;

    }
    
  
  }
  @media screen and (max-width: 1540px) {
    .sysText1{
      padding-left: 150px !important;
      padding-right: 80px !important;
    }
    .sysText2 {
        padding-left: 115px !important;
        padding-right: 80px !important;

    }
    
  }
  
  @media screen and (min-width: 960px) and (max-width: 1140px) {
    
    .sysText1{
      padding-left: 100px !important;
      padding-right: 50px !important;
    }
  }
  
  @media screen and (min-width: 720px) and (max-width: 960px) {
  
    .sysText1{
      padding-left: 105px !important;
      padding-right: 35px !important;
      padding-bottom: 35px !important;
    }
    .sysImg1 {
        position: static;
        padding: 0;
    }
    .sysText2{
        padding-top:35px
    }
    .bgsGray2{
        height: 100%;
    }
    .sysImg2 {
        padding-top: 100px;
    }
    
  }
  
  @media screen and (min-width: 540px) and (max-width: 720px) {
  
    .sysText1{
      padding-left: 15px !important;
      padding-right: 15px !important;
    }
  }
  
  @media screen and (max-width: 540px) {
    .sysText1{
      padding-left: 10px !important;
      padding-right: 10px !important;
    }
    }
  
  